crewai
git+https://github.com/strnad/crewAI-tools.git
langchain
langchain-openai
langchain-anthropic
langchain-groq
langchain-community
streamlit
pandas
plotly
altair
requests
python-dotenv
sqlalchemy
fastavro
pytest
ruff
pre-commit